@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #84a2c5;
}
.wrapper {
    width: 95vmin;
    height: 90vmin;
    background: #293447;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.game-detail {
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.play-board {
    height: 100%;
    width: 100%;
    background: #1c2431;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.food {
    background: #be1ba3;
}
.snake {
    background: #29be1b;
}
